@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.marquee-track {
    animation: marquee 25s linear infinite;
    will-change: transform;
    display: flex;
    width: fit-content;
}